# Data Science Tools and Ecosystem

**Objectives:**
- List popular languages for Data Science.
- List of the commonly used libraries used by Data Scientists.
- List of Data Science Tools.

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
    
    1. Python
    2. R
    3. SQL
    4. Julia
    5. Java


   Some of the commonly used libraries used by Data Scientists include:
 
   1. TensorFlow
   2. NumPy
   3. Scipy
   4. Pandas

|S.No.|Data Science Tools|
| ----|------------------|
 |1|Apache Spark|
 |2|RStudio|
 |3|TensorFlow|

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
#This a simple arithmetic expression to mutiply then add integers.
(3*4)+5

17

In [4]:
#This will convert 200 minutes to hours by diving by 60
mtoh = 200/60
print(mtoh)

3.3333333333333335

### Author
Atul Awadhiya